:root {
    --spacey: #33393f;
    --turquoise: #2aefcb;
    --whiteish: #e0eae4;
    --pinkish: #e866ec;
}

body {
    background-color: var(--spacey);
}

h1 {
    font-size: 250%;
    font-weight: bolder;
    padding: 2%;
    color: var(--pinkish);
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

header p {
    display: flex;
    align-items: center;
    color: var(--whiteish);
    flex-flow: row wrap;
    padding: 2%;
    
}

section {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    margin: 5%;
}
